<!DOCTYPE html>
<html>
<head>
    <title>Post Details</title>
    <link rel="stylesheet" type="text/css" href="/public/styles.css">
</head>
<body>
    <h1>POST</h1>
    <div>
        <h2><%= post.title %></h2>
        <img src="/public/<%=post.img%>" alt="<%= post.title %>">
        <p>Text: <%= post.text %></p>
    </div>
</body>
</html>